@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Amostra de banco de dados de Pessoas.</h1>
    <p>Este é um aplicativo CRUD simples usando .Net Core como uma estrutura e Entity Framework Core para ORM e SQL Server para um banco de dados relacional</p>
</div>